<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Daily Dropped Voice Calls</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Daily Dropped Voice Calls</li>
        </ol>
    </nav>
</div>
<iframe src="http://elastic.tritronik.com:5601/goto/b83a970dff814f58aa99d0fa58264c31?embed=true" class="container"
    height="600" frameborder="0" style="border:0"></iframe>