<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Daily MSISDN Voice Call Attempts</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Daily MSISDN Voice Call Attempts</li>
        </ol>
    </nav>
</div>
<form name="formTime" class="row row-xxs" ng-submit="setTime()">
    <div class="form-group col-sm-3">
        <label for="dateFrom">From</label>
        <input type="text" class="form-control form-control-sm" id="dateFrom" name="dateFrom" placeholder="Date from"
            tr-datepicker ng-model="dateFrom" required>
    </div>
    <div class="form-group col-sm-3">
        <label for="dateTo">To</label>
        <input type="text" class="form-control form-control-sm" id="dateTo" name="dateTo" placeholder="Date to"
            tr-datepicker ng-model="dateTo" required>
    </div>
    <div class="form-group col-sm-3 d-flex align-items-end">
        <button class="btn btn-sm btn-primary pd-x-30 mg-sm-l-10">Set Time</button>
    </div>
</form>
<iframe src="{{link}}" width="100%" height="600" frameborder="0" style="border:0"></iframe>